body {
    margin: 0px;
    background-color: #ECEFF1;
}

.heading {
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: #FFFFFF;
    color: #737373;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
    padding-left: 15%;
    z-index: 1;
}

.heading #t1 {
    padding-right: 4px;
}

.heading #t2 {
    color: rgb(255, 161, 22);
}

.heading #t2 a {
    color: rgb(255, 161, 22);
}

/*.heading #login {
    position: absolute;
    right: 300px;
    top: 20px;
    width: 120px;
    height: 30px;
    background-color: rgba(255, 161, 22, 0.6);
    border-radius: 5px;
    text-align: center;
}*/

.heading #login h3 {
    margin-top: 0px;
    padding: 5px;
    width: 50px;
    height: 30px;
}

.heading #login button {
    position: absolute;
    right: 300px;
    top: 20px;
    width: 120px;
    height: 30px;
    background-color: rgba(255, 161, 22, 0.6);
    border-radius: 5px;
    text-align: center;
    border: none;
    color: #404040;
}

.heading a {
    color: #737373;
    margin: 20px 20px auto 20px;
    font-size: x-large;
    text-decoration: none;
}

svg {
    margin-left: 50px;
    margin-top: 30px;
}

center {
    padding-top: 120px;
}

.container {
    position: relative;
    width: 500px;
    height: auto;
    padding: 10px;
    background-color: #FFFFFF;
    border-radius: 5%;
}

.container .head_name {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container .head_name #t2 {
    color: rgb(255, 161, 22);
}

.container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container #t3 {
    margin-top: -20px;
    color: #757575;
}

.container #login_register_sel {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 30px;
    width: 401px;
    grid-gap: 1px;
    height: auto;
    justify-content: center;
    margin-bottom: 20px;
}

.container #login_register_sel button {
    border: none;
    background-color: #FFFFFF;
    font-size: medium;
}

.container #login_register_sel #log_btn {
    background-color: #eeeeee;
    grid-column: 1 / 2;
    grid-row: 1;
    margin-bottom: 0px;
}

.container #login_register_sel #rgt_btn {
    grid-column: 2;
    grid-row: 1;
}

.container #login_register_sel #login_bar {
    height: 5px;
    width: 200.5px;
    background-color: red;
    border-radius: 5% / 40%;
    margin-top: 0px;
}

.container form input {
    position: relative;
    width: 400px;
    height: 30px;
    background: white;
    border-radius: 2%;
    border: 2px solid rgb(200, 199, 199);
    margin: 10px auto 10px auto;
}


.container form input:hover {
    border: 2px solid rgb(33, 33, 33);
}

.container form button {
    width: 400px;
    height: 30px;
    border-radius: 5%;
    border: none;
    margin: 10px auto 10px auto;
    background-color: #adabab;
}

.container form a {
    margin: 10px auto 10px auto;
}

footer {
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #FFFFFF;
    gap: 40px;
    color: #737373;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
    padding-left: 15%;
    align-items: center;
    bottom: 0px;
}

#otp-container input {
    justify-content: center;
    align-items: center;
    text-align: center;
}

#otp-container input::-webkit-outer-spin-button,
#otp-container input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@keyframes login_button_margin {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(200px);
    }  
}

@keyframes regis_button_margin {
    0% {
        transform: translateX(200px);
    }
    100% {
        transform: translateX(0px);
    }
}