body {
    margin: 0px;
    background-color: #ECEFF1;
}

.heading {
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: #FFFFFF;
    color: #737373;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
    padding-left: 15%;
    z-index: 1;
}

.heading #t1 {
    padding-right: 4px;
}

.heading #t2 {
    color: rgb(255, 161, 22);
}

.heading #t2 a {
    color: rgb(255, 161, 22);
}

/*.heading #login {
    position: absolute;
    right: 300px;
    top: 20px;
    width: 120px;
    height: 30px;
    background-color: rgba(255, 161, 22, 0.6);
    border-radius: 5px;
    text-align: center;
}*/

.heading #login h3 {
    margin-top: 0px;
    padding: 5px;
    width: 50px;
    height: 30px;
}

.heading #login button {
    position: absolute;
    right: 300px;
    top: 20px;
    width: 120px;
    height: 30px;
    background-color: rgba(255, 161, 22, 0.6);
    border-radius: 5px;
    text-align: center;
    border: none;
    color: #404040;
}

.heading a {
    color: #737373;
    margin: 20px 20px auto 20px;
    font-size: x-large;
    text-decoration: none;
}

svg {
    margin-left: 50px;
    margin-top: 30px;
}

center {
    padding-top: 120px;
}

.container {
    position: relative;
    width: 550px;
    height: auto;
    padding: 10px;
    background-color: #FFFFFF;
    border-radius: 5%;
}

.container .head_name {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container .head_name #t2 {
    color: rgb(255, 161, 22);
}

.container #t3 {
    margin-top: -20px;
    color: #757575;
}

#ranking {
    display: grid;
    grid-template-columns: 40px 200px 160px 95px;
    grid-auto-rows: minmax(10px, auto);
    justify-content: center;
    gap: 0px;
}

#ranking h3 {
    border: 3px solid black;
    margin: 0px;
    padding: 5px;
    text-align: justify;
}

#pointing {
    position: fixed;
    top: 80px;
    right: 20px;
    width: 120px;
    height: 60px;
    border-radius: 10%;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
    color: rgba(255, 161, 22, 0.6);
}

#pointing h3 {
    margin: 7px;
    color: rgba(249, 149, 0, 0.6);
}

footer {
    display: flex;
    flex-direction: row;
    width: 85%;
    height: 60px;
    background-color: #FFFFFF;
    gap: 40px;
    color: #737373;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
    padding-left: 15%;
    align-items: center;
}

@media (max-width:425px) {

    .heading #t1 {
        padding-right: 0px;
    }

    .heading {
        padding-left: 2%;
    }

    .heading #login button {
        right: 10px;
        top: 40px;
        width: 100px;
        text-align:justify;
        height: 30px;
        padding: 0px;
        overflow: hidden;
    }

    .heading a {
        color: #737373;
        margin: 20px 0px auto 5px;
        font-size: x-large;
        text-decoration: none;
        overflow: hidden;
    }

    svg {
        margin-left: -150px;
        overflow: hidden;
    }

    footer {
        padding-top: 10px;
        gap: 10px;
        width: 95%;
        height: 130px;
        padding-left: 5%;
        flex-direction: column;
    }
}

@media (min-width:425px) and (max-width:570px) {

    
    .heading {
        padding-left: 10px;
    }

    .heading a {
        color: #737373;
        margin: 20px 0px auto 10px;
        font-size: x-large;
        text-decoration: none;
        overflow: hidden;
    }

    .heading #login button {
        right: 15px;
    }

    svg {
        margin-left: 5px;
    }

    footer {
        padding-top: 10px;
        gap: 10px;
        width: 95%;
        height: 130px;
        padding-left: 5%;
        flex-direction: column;
    }
}

@media (min-width:425px) and (max-width:530px) {
    svg {
        margin-left: -100px;
    }
}

@media (min-width:570px) and (max-width:868px) {
    
    .heading {
        padding-left: 5%;
    }

    .heading a {
        margin: 20px 0px auto 3%;
    }
    
    .heading #login button {
        right: 7%;
    }

    svg {
        margin-left: 5px;
    }
}

@media (min-width:868px) and (max-width:1200px) {

    .heading #login button {
        right: 200px;
    }
}

@media (min-width:1200px) and (max-width:1350px) {
    .heading #login button {
        right: 300px;
    }

    .heading a {
        color: #737373;
        margin: 20px 20px auto 20px;
        font-size: x-large;
        text-decoration: none;
    }

    svg {
        margin-left: 100px;
    }
}

@media (min-width:1350px) and (max-width:1700px) {
    .heading #login button {
        right: 300px;
    }

    .heading a {
        margin: 20px 20px auto 20px;
    }

    svg {
        margin-left: 150px;
    }
}

@media (min-width:1700px) and (max-width:2250px) {
    .heading #login button {
        right: 400px;
    }

    .heading a {
        margin: 20px 30px auto 30px;
    }

    svg {
        margin-left: 300px;
    }
}

@media (min-width:2250px) {
    .heading #login button {
        right: 600px;
    }

    svg {
        margin-left: 420px;
    }

    .heading a {
        margin: 20px 50px auto 50px;
    }
}