body {
    margin: 0px;
    background-color: #ECEFF1;
}

.heading {
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: #FFFFFF;
    color: #737373;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
    padding-left: 15%;
}

.heading #t1 {
    padding-right: 4px;
}

.heading #t2 {
    color: rgb(255, 161, 22);
}

/*.heading #login {
    position: absolute;
    right: 300px;
    top: 20px;
    width: 120px;
    height: 30px;
    background-color: rgba(255, 161, 22, 0.6);
    border-radius: 5px;
    text-align: center;
}*/

.heading #login h3 {
    margin-top: 0px;
    padding: 5px;
    width: 50px;
    height: 30px;
}

.heading #login button {
    position: absolute;
    right: 300px;
    top: 20px;
    width: 120px;
    height: 30px;
    background-color: rgba(255, 161, 22, 0.6);
    border-radius: 5px;
    text-align: center;
    border: none;
    color: #404040;
}

.heading a {
    color: #737373;
    margin: 20px 20px auto 20px;
    font-size: x-large;
    text-decoration: none;
}

.container {
    padding-top: 100px;
    color: black;
    margin-left: 70px;
}

svg {
    margin-left: 50px;
    margin-top: 30px;
}

.container #hero_section {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-left: -70px;
    padding-top: 30px;
    margin-top: -30px;
    box-shadow: 2px 1px 10px black;
}

.container #hero_section #txt button {
    width: 100px;
    height: 40px;
    border-radius: 10%;
    border: none;
    background-color: rgba(255, 161, 22, 0.6);
}

.container #hero_section img {
    width: 700px;
    border-radius: 10%;
}

.container p {
    margin-top: -20px;
    font-size: large;
    color: #5d5d5d;
}

.container #defination div p {
    margin: 20px 30px 0px 0px;
    text-align: justify;
}

.container #para p {
    margin: 20px 30px 0px 0px;
    text-align: justify;
}

.container #prvc_dbt button {
    width: 200px;
    height: 50px;
    background-color: rgba(255, 161, 22, 0.6);
    border-radius: 5px;
    text-align: center;
    border: none;
}

hr {
    margin-right: 20px;
}

footer {
    display: flex;
    flex-direction: row;
    width: 85%;
    height: 60px;
    background-color: #FFFFFF;
    gap: 40px;
    color: #737373;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
    padding-left: 15%;
    align-items: center;
}

@media (max-width:425px) {

    .heading #t1 {
        padding-right: 0px;
    }

    .heading {
        padding-left: 2%;
    }

    .heading #login button {
        right: 10px;
        top: 40px;
        width: 100px;
        text-align:justify;
        height: 30px;
        padding: 0px;
        overflow: hidden;
    }

    .heading a {
        color: #737373;
        margin: 20px 0px auto 5px;
        font-size: x-large;
        text-decoration: none;
        overflow: hidden;
    }

    svg {
        margin-left: -150px;
        overflow: hidden;
    }

    .container {
        margin-left: 30px;
    }

    .container #hero_section {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        gap: 0%;
        margin-left: -30px;
    }

    .container #hero_section img {
        grid-column: 1;
        grid-row: 1/2;
        width: 90%;
    }

    .container #hero_section #txt {
        grid-column: 1;
        grid-row: 2/3;
        width: 90%;
        padding: 5%;
    }

    footer {
        padding-top: 10px;
        gap: 10px;
        width: 95%;
        height: 130px;
        padding-left: 5%;
        flex-direction: column;
    }
}

@media (min-width:425px) and (max-width:570px) {

    
    .heading {
        padding-left: 10px;
    }

    .heading a {
        color: #737373;
        margin: 20px 0px auto 10px;
        font-size: x-large;
        text-decoration: none;
        overflow: hidden;
    }

    .heading #login button {
        right: 15px;
    }

    svg {
        margin-left: 5px;
    }

    .container {
        margin-left: 30px;
    }

    .container #hero_section {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        gap: 0%;
        margin-left: -30px;
    }

    .container #hero_section img {
        grid-column: 1;
        grid-row: 1/2;
        width: 90%;
    }

    .container #hero_section #txt {
        grid-column: 1;
        grid-row: 2/3;
        width: 90%;
        padding: 5%;
    }

    footer {
        padding-top: 10px;
        gap: 10px;
        width: 95%;
        height: 130px;
        padding-left: 5%;
        flex-direction: column;
    }
}

@media (min-width:425px) and (max-width:530px) {
    svg {
        margin-left: -100px;
    }
}

@media (min-width:570px) and (max-width:868px) {
    
    .heading {
        padding-left: 5%;
    }

    .heading a {
        margin: 20px 0px auto 3%;
    }
    
    .heading #login button {
        right: 7%;
    }

    svg {
        margin-left: 5px;
    }

    .container #hero_section {
        gap: 0px;
        padding-left: 5%;
    }
}

@media (min-width:868px) and (max-width:1200px) {
    
    .container #hero_section {
        padding-left: 5%;
    }

    .heading #login button {
        right: 200px;
    }
}

@media (min-width:1200px) and (max-width:1350px) {
    .heading #login button {
        right: 300px;
    }

    .heading a {
        color: #737373;
        margin: 20px 20px auto 20px;
        font-size: x-large;
        text-decoration: none;
    }

    svg {
        margin-left: 100px;
    }

    .container #hero_section {
        display: flex;
        flex-direction: row;
        gap: 0%;
    }
}

@media (min-width:1350px) and (max-width:1700px) {
    .heading #login button {
        right: 300px;
    }

    .heading a {
        margin: 20px 20px auto 20px;
    }

    svg {
        margin-left: 150px;
    }

    .container #hero_section {
        display: flex;
        flex-direction: row;
        gap: 8%;
    }
}

@media (min-width:1700px) and (max-width:2250px) {
    .heading #login button {
        right: 400px;
    }

    .heading a {
        margin: 20px 30px auto 30px;
    }

    svg {
        margin-left: 300px;
    }

    .container #hero_section {
        display: grid;
        grid-template-columns: 40% 40%;
        grid-template-rows: auto;
        gap: 50px;
    }
}

@media (min-width:2250px) {
    .heading #login button {
        right: 600px;
    }

    svg {
        margin-left: 420px;
    }

    .container #hero_section {
        display: grid;
        grid-template-columns: 40% 40%;
        grid-template-rows: auto;
        gap: 50px;
    }

    .heading a {
        margin: 20px 50px auto 50px;
    }

    .container #hero_section img {
        width: 1000px;
        border-radius: 10%;
    }
}